# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual envs
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Secrets / env
.env
.env.local
